<% results.forEach(result => { %>
    <div class="card">
      <a href="<%= `movie/${result.id}` %>">
        <% if (result.poster_path) { %>
          <img src="https://image.tmdb.org/t/p/w500/<%= result.poster_path %>" class="card-img-top" alt="<%= result.title%>" />
        <% } else { %>
          <img src="/images/no-image.jpg" class="card-img-top" alt="<%= result.title %>" />
        <% } %>
      </a>
      <div class="card-body">
        <h5 class="card-title"><%= result.title %></h5>
        <p class="card-text">
          <small class="text-muted">Release: <%=  result.release_date  %></small>
        </p>
      </div>
    </div>
  <% }); %>